// Color names
//
$gold                   : #FFD501;
$dark-gold              : #c18c36;
$purple                 : #a82cff;
$white                  : #FFF;
$black                  : #000;

// Color assignments
//
$color--primary         : $gold;
$color--secondary       : $dark-gold;

// Font stacks
//
$font-family--primary   : 'Lora', serif;
$font-family--secondary : 'Open Sans', sans-serif;

// Layout
//
$site--max-width        : 2000px;
